*{
    /* border: 1px solid #999; */
    box-sizing: border-box;

}

body{
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    color: #131313;

}

/*E[foo~="bar"]	an E element whose foo attribute value is a list of whitespace-separated values, one of which is exactly equal to bar

E[foo^="bar"]	an E element whose foo attribute value begins exactly with the string bar

E[foo$="bar"]	an E element whose foo attribute value ends exactly with the string bar

E[foo*="bar"]	an E element whose foo attribute value contains the substring bar

*/

.buttonContainer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    margin: 2% 5%;
    padding: 2%;
    justify-items: center;
    align-items: center;

  }

.textContainer{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 6fr;
    grid-auto-rows: 50px;
    grid-gap: 10px;
    margin: 2% 10%;
    padding: 2% 20%;
    justify-items: center;
    align-items: center;


}
  
  /* .item:nth-child(1) {
    background: khaki;
     grid-row: span 4; 
  }
  
  .item:nth-child(2) {
    background: mediumspringgreen;
     grid-row: span 4;
  }
  
  /* .item:nth-child(3) {
    background: steelblue;
     grid-row: span 4;

  } */


header{
    height: 90px;
    background-color: #999;
    text-align: center;

}

h1{
    font-weight: 600;
    font-size: 2rem;

}

h2{
    padding-top: 20px;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;

}

button{
    font-weight: 600;
    height: 50px;
    width: 200px;
    margin: auto;
    border: none;
    border-radius: 3px;

}

#poemText{
    text-align: center;

}

button[name~="combo1"]{
    background: khaki;

}

button[name~="combo2"]{
    background: mediumspringgreen;

}

button[name~="combo3"]{
    background: lightblue;

}